@import "colors.scss";

.site-content {
	#about-us.content-area main {
		.hero-image {
			.about-us-hero-widget.widget {
				position: relative;
				margin: 0;

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.information-wrapper {
			.about-us-info {
				width: 100%;
				height: auto;

				.heading {
					text-align: center;

					h3 {
						font-family: "Open Sans";
						font-size: 20px;
						font-weight: bold;
						line-height: 25px;
						color: $black;
						margin: 0 0 5px 0;
					}
				}

				.description {
					text-align: center;
					margin: 0 0 20px 0;

					p {
						font-family: "Open Sans";
						font-size: 15px;
						font-weight: normal;
						line-height: 25px;
						color: $grey;
						margin: 10px 0;
					}
				}
			}

			.about-us-team {
				width: 100%;
				padding: 10px 40px;

				@media only screen and (max-width: 768px) {
					padding: 10px 20px;
				}

				.about-us-team-wrapper {
					display: flex;
					justify-content: center;
					flex-direction: row;
					align-items: center;

					hr {
						background-color: $tan;
						border: 0;
						height: 2px;
						margin-bottom: 0;
						margin: 0;
						width: 100%;
					}

					.title {
						width: auto;
						display: block;
						height: 25px;
						text-align: center;
						padding: 0 15px;

						p {
							font-family: "Open Sans";
							font-size: 20px;
							font-weight: bold;
							line-height: 25px;
							color: $grey;
							margin: 0;
							padding: 0;
							width: 125px;
						}
					}
				}

				.about-us-details {
					display: block;
					width: 100%;
					height: auto;
					max-width: 800px;
					margin: 10px auto;

					ul {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						padding: 0;
						margin: 0;
						list-style-type: none;
						justify-content: center;

						li {
							padding: 0;
							margin: 20px;
							width: 225px;
							height: auto;
							list-style-type: none;
							display: flex;
							flex-direction: column;

							img {
								max-width: 225px;
								margin-bottom: 20px;
							}

							.member-name {
								margin-bottom: 10px;

								p {
									margin: 0;
									font-family: "Open Sans";
									font-size: 15px;
									font-weight: 600;
									line-height: 20px;
									color: $black;
								}
							}

							.member-practices {
								p {
									margin: 0;
									font-family: "Open Sans";
									font-size: 14.5px;
									font-weight: 300;
									line-height: 19px;
									color: $black;
								}
							}
						}
					}
				}
			}
		}
	}
}