@import "colors.scss";

.site-content {
	#contact-us.content-area main {
		.hero-image {
			.contact-us-hero-widget.widget {
				position: relative;
				margin: 0;

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.contact-us-information-wrapper {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			padding: 10px 40px 20px 40px;

			@media only screen and (max-width: 768px) {
				padding: 10px 20px;
			}

			.contact-us-team-wrapper {
				width: 100%;
				padding: 10px 0;

				.title {
					width: auto;
					display: block;
					height: auto;
					text-align: center;
					padding: 0 15px;

					p {
						font-family: "Open Sans";
						font-size: 25px;
						font-weight: bold;
						line-height: 34px;
						color: $grey;
						margin: 0;
						padding: 0;
					}
				}
			}

			.contact-us-details {
				width: 100%;
				height: auto;
				max-width: 800px;
				display: flex;
				justify-content: center;
				flex-direction: row;
				padding: 20px 0 20px 0;

				@media only screen and (max-width: 768px) {
					flex-direction: column;
					align-items: center;
					padding: 0;
				}

				.environmental-contact-info {
					flex: 0 0 50%;
					padding: 0 10px 0 15%;
					border-right: 1px solid $tan;

					@media only screen and (max-width: 768px) {
						flex: auto;
						width: 100%;
						padding: 15px;
						text-align: center;
						border-right: none;
						border-bottom: 1px solid $tan;
					}

					h3 {
						font-family: "Open Sans";
						font-size: 20px;
						font-weight: bold;
						line-height: 25px;
						color: $brown;
						margin: 5px 0 15px 0;
					}

					p {
						font-family: "Open Sans";
						font-size: 14.5px;
						line-height: 19px;
						margin: 15px 0;
						color: $black;
					}
				}

				.health-contact-info {
					flex: 0 0 50%;
					padding: 0 10px 0 15%;

					@media only screen and (max-width: 768px) {
						flex: auto;
						width: 100%;
						padding: 15px;
						text-align: center;
					}

					h3 {
						font-family: "Open Sans";
						font-size: 20px;
						font-weight: bold;
						line-height: 25px;
						color: $medium_blue;
						margin: 5px 0 15px 0;
					}

					p {
						font-family: "Open Sans";
						font-size: 14.5px;
						line-height: 19px;
						margin: 15px 0;
						color: $black;
					}
				}
			}
		}

		.map {
			width: 100%;
			height: 325px;
			margin: 0;
			padding: 0;

			iframe {
				width: 100%;
			}
		}
	}
}