@import "colors.scss";

.site-content {
	#disaster-preparedness.content-area main {
		.hero-image {
			.disaster-preparedness-hero-widget.widget {
				position: relative;
				margin: 0;

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.information-wrapper {
			.disaster-preparedness-info {
				width: 100%;
				height: auto;

				.heading {
					text-align: center;

					h3 {
						font-family: "Open Sans";
						font-size: 20px;
						font-weight: bold;
						line-height: 25px;
						color: $black;
						margin: 0 0 5px 0;
					}
				}

				.description {
					text-align: center;
					margin: 0 0 20px 0;

					p {
						font-family: "Open Sans";
						font-size: 15px;
						font-weight: normal;
						line-height: 25px;
						color: $grey;
						margin: 10px 0;
					}
				}
			}

			.disaster-preparedness-links {
				width: 100%;
				padding: 10px 40px;

				@media only screen and (max-width: 768px) {
					padding: 10px 20px;
				}

				.disaster-preparedness-links-wrapper {
					display: flex;
					justify-content: center;
					flex-direction: row;
					align-items: center;

					hr {
						background-color: $tan;
						border: 0;
						height: 2px;
						margin-bottom: 0;
						margin: 0;
						width: 100%;
					}

					.title {
						width: auto;
						display: block;
						height: 25px;
						text-align: center;
						padding: 0 30px;

						p {
							font-family: "Open Sans";
							font-size: 20px;
							font-weight: bold;
							line-height: 25px;
							color: $grey;
							margin: 0;
							padding: 0;
						}
					}
				}

				.disaster-preparedness-links-info {
					display: flex;
					width: 100%;
					height: auto;
					max-width: 800px;
					justify-content: center;
					flex-direction: column;
					align-items: center;
					margin: 10px auto;

					ul {
						padding: 0;
						margin: 0;

						li {
							padding: 0;
							margin: 15px 0;
							display: flex;
							flex-direction: row;

							@media only screen and (max-width: 768px) {
								flex-direction: column;
								justify-content: center;
								align-items: center;
							}

							a {
								font-family: "Open Sans";
								font-size: 15px;
								font-weight: 600;
								line-height: 20px;
								color: $light_blue;
								text-decoration: none;

								&:hover {
									color: $black;
									text-decoration: none;
								}
							}
						}
					}
				}
			}

			.disaster-preparedness-pdfs {
				width: 100%;
				padding: 10px 40px;

				@media only screen and (max-width: 768px) {
					padding: 10px 20px;
				}

				.disaster-preparedness-pdfs-wrapper {
					display: flex;
					justify-content: center;
					flex-direction: row;
					align-items: center;

					hr {
						background-color: $tan;
						border: 0;
						height: 2px;
						margin-bottom: 0;
						margin: 0;
						width: 100%;
					}

					.title {
						width: auto;
						display: block;
						height: 25px;
						text-align: center;
						padding: 0 30px;

						p {
							font-family: "Open Sans";
							font-size: 20px;
							font-weight: bold;
							line-height: 25px;
							color: $grey;
							margin: 0;
							padding: 0;
						}
					}
				}

				.disaster-preparedness-pdfs-info {
					display: flex;
					width: 100%;
					height: auto;
					max-width: 800px;
					justify-content: center;
					flex-direction: column;
					align-items: center;
					margin: 10px auto;

					ul {
						padding: 0;
						margin: 0;

						li {
							padding: 0;
							margin: 15px 0;
							display: flex;
							flex-direction: row;

							@media only screen and (max-width: 768px) {
								flex-direction: column;
								justify-content: center;
								align-items: center;
							}

							&:before {
								content:'';
								display:inline-block;
								height: 13px;
								width: 13px;
								background-image:url('/wp-content/themes/wayne-county-health/assets/icons/General/file-download-solid.svg');
								background-size:contain;
								background-repeat:no-repeat;
								padding-left: 20px;
								margin-top: 4px;
							}

							a {
								font-family: "Open Sans";
								font-size: 15px;
								font-weight: 600;
								line-height: 20px;
								color: $light_blue;
								text-decoration: none;

								&:hover {
									color: $black;
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
	}
}