@import "colors.scss";

.site-content {
	#environmental.content-area main {
		.hero-image {
			width: 100%;
			height: auto;
			display: block;
			padding: 0;
			margin: 0;
			position: relative;

			.environmental-hero-widget.widget {
				position: relative;
				margin: 0;

				img {
					width: 100%;
					height: auto;
				}
			}

			.overlay-text {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 2000;
				height: auto;
				width: 100%;
				transform: translate(-50%, -50%);
				display: flex;
				flex-direction: column;
				align-items: center;

				p.top-text,
				p.middle-text {
					color: $white;
					font-family: "Open Sans";
					font-size: 70px;
					font-weight: bold;
					line-height: 70px;
					text-align: center;
					margin: 10px;
					padding: 0;
				}

				p.bottom-text {
					color: $white;
					font-family: "Open Sans";
					font-size: 85px;
					font-weight: 900;
					line-height: 85px;
					text-align: center;
					margin: 10px;
					padding: 0;
				}

				.arrow {
					width: 95px;
					height: auto;
					display: block;
					margin-top: 25px;
				}

				@media only screen and (max-width: 680px) {
					p.top-text,
					p.middle-text {
						font-size: 50px;
						line-height: 50px;
					}

					p.bottom-text {
						font-size: 65px;
						line-height: 65px;
					}

					.fa-chevron-down {
						font-size: 65px;
					}
				}

				@media only screen and (max-width: 500px) {
					p.top-text,
					p.middle-text {
						font-size: 40px;
						line-height: 40px;
					}

					p.bottom-text {
						font-size: 55px;
						line-height: 55px;
					}

					.fa-chevron-down {
						font-size: 55px;
					}
				}
			}

			.hero-text-overlay {
				position: absolute;
				top: 49.5%;
				left: 50%;
				z-index: 1000;
				height: 99.5%;
				width: 100%;
				transform: translate(-50%, -50%);
				background-color: $light_blue;
				opacity: .8;
			}
		}

		.environmental-information-nav {
			padding: 20px 40px;
			width: 100%;
			height: auto;
			text-align: center;

			h2 {
				font-size: 25px;
				font-weight: bold;
				line-height: 34px;
				color: $black;
			}

			ul.environmental-category-nav {
				padding: 0;
				margin: 0 auto;
				list-style-type: none;
				width: 550px;
				height: auto;
				display: flex;
				flex-direction: row;
				justify-content: center;
				flex-wrap: wrap;

				@media only screen and (max-width: 550px) {
					width: 100%;
				}

				li {
					padding: 0;
					margin: 15px 10px 10px 10px;
					list-style-type: none;
					height: auto;
					width: 100px;

					a {
						height: 100%;
						width: 100%;
						display: block;

						img {
							width: 65px;
							height: auto;
							display: block;
							margin: 0 auto;

							&:hover {
								background: $lightening_blue;
								border-radius: 100%;
							}
						}

						.title {
							margin-top: 10px;

							p {
								font-family: "Open Sans";
								font-size: 12px;
								line-height: 17px;
								color: $black;
								margin: 0;
							}
						}
					}
				}
			}

			@media only screen and (max-width: 768px) {
				padding: 10px 20px;
			}
		}

		.environmental-content-wrapper {
			padding: 10px 40px;
			width: 100%;
			height: auto;
			text-align: center;
			max-width: 940px;
			margin: 0 auto;

			.content-box {
				width: 100%;
				height: auto;
				border-top: 1px solid $tan;
				padding: 30px 0;
				display: flex;
				justify-content: flex-start;
				flex-direction: row;

				.left {
					display: block;
					width: 150px;
					height: auto;
					margin: 10px 80px 10px 10px;
				}

				.right {
					flex: 1;
					padding: 10px;
					text-align: left;
				}

				@media only screen and (max-width: 768px) {
					flex-direction: column;
					align-items: center;

					.left {
						margin: 10px;
					}

					.right {
						flex: 1;
						padding: 10px;
						text-align: center;
					}
				}
			}

			#cpr-fa {
				.right {
					.cpr-heading {
						p {
							font-family: "Open Sans";
							font-size: 25px;
							font-weight: bold;
							line-height: 25px;
							color: $black;
							margin: 0 0 15px 0;
						}
					}

					.cpr-description {
						p {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $black;
							margin: 10px 0;
						}
					}

					p {
						font-family: "Open Sans";
						font-size: 12px;
						font-weight: normal;
						line-height: 17px;
						color: $black;
						margin: 10px 0;
					}

					hr {
						margin: 20px 0;
					}

					.class-info {
						display: flex;
						flex-direction: row;
						height: 35px;
						margin: 10px 0;
						align-items: center;

						.class-title {
							min-width: 150px;
							margin-right: 25px;
							display: block;

							p {
								font-family: "Open Sans";
								font-size: 15px;
								font-weight: bold;
								line-height: 20px;
								color: $black;
								margin: 0;
							}
						}

						.class-costs {
							p {
								font-family: "Open Sans";
								font-size: 12px;
								font-weight: normal;
								line-height: 17px;
								color: $black;
								margin: 0;
							}
						}
					}

					.class-details {
						margin: 20px 0;
					}

					.class-reference-link {
						a {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $medium_blue;
							text-decoration: none;

							&:hover {
								color: $black;
							}
						}
					}
				}
			}

			#food-safety {
				.right {
					.fs-heading {
						h3 {
							font-family: "Open Sans";
							font-size: 25px;
							font-weight: bold;
							line-height: 25px;
							color: $black;
							margin: 0 0 15px 0;
						}
					}

					.fs-description {
						p {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $black;
							margin: 10px 0;
						}
					}

					hr {
						margin: 20px 0;
					}

					.fs-links {
						p {
							margin: 0;
						}

						a {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $medium_blue;
							text-decoration: none;

							&:hover {
								color: $black;
							}
						}

						ul {
							padding: 0;
							margin: 0;

							li {
								padding: 0;
								margin: 15px 0;
								display: flex;
								flex-direction: row;

								&:before {
									content:'';
									display:inline-block;
									height: 13px;
									width: 13px;
									background-image:url('/wp-content/themes/wayne-county-health/assets/icons/General/file-download-solid.svg');
									background-size:contain;
									background-repeat:no-repeat;
									padding-left: 20px;
									margin-top: 4px;
								}

								a {
									font-family: "Open Sans";
									font-size: 12px;
									font-weight: normal;
									line-height: 17px;
									color: $medium_blue;
									text-decoration: none;

									&:hover {
										color: $black;
									}
								}
							}
						}
					}
				}
			}

			#lead-healthy-homes {
				.right {
					.lhh-heading {
						h3 {
							font-family: "Open Sans";
							font-size: 25px;
							font-weight: bold;
							line-height: 25px;
							color: $black;
							margin: 0 0 15px 0;
						}
					}

					.lhh-description {
						p {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $black;
							margin: 10px 0;
						}
					}

					hr {
						margin: 20px 0;
					}

					.lhh-links {
						p {
							margin: 0;
						}

						a {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $medium_blue;
							text-decoration: none;

							&:hover {
								color: $black;
							}
						}
					}
				}
			}

			#mosquito-control {
				.right {
					.mc-heading {
						h3 {
							font-family: "Open Sans";
							font-size: 25px;
							font-weight: bold;
							line-height: 25px;
							color: $black;
							margin: 0 0 15px 0;
						}
					}

					.mc-description {
						p {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $black;
							margin: 10px 0;
						}
					}

					hr {
						margin: 20px 0;
					}

					.mc-links {
						p {
							margin: 0;
						}

						a {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $medium_blue;
							text-decoration: none;

							&:hover {
								color: $black;
							}
						}
					}
				}
			}

			#disaster-preparedness {
				.right {
					.dp-heading {
						h3 {
							font-family: "Open Sans";
							font-size: 25px;
							font-weight: bold;
							line-height: 25px;
							color: $black;
							margin: 0 0 15px 0;
						}
					}

					.dp-description {
						p {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $black;
							margin: 10px 0;
						}
					}

					hr {
						margin: 20px 0;
					}

					.dp-links {
						p {
							margin: 0;
						}

						a {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $medium_blue;
							text-decoration: none;

							&:hover {
								color: $black;
							}
						}
					}
				}
			}

			#rabies-education {
				.right {
					.rabies-heading {
						h3 {
							font-family: "Open Sans";
							font-size: 25px;
							font-weight: bold;
							line-height: 25px;
							color: $black;
							margin: 0 0 15px 0;
						}
					}

					.rabies-description {
						p {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $black;
							margin: 10px 0;
						}
					}

					hr {
						margin: 20px 0;
					}

					.rabies-links {
						p {
							margin: 0;
						}

						a {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $medium_blue;
							text-decoration: none;

							&:hover {
								color: $black;
							}
						}
					}
				}
			}

			#sewage-disposal {
				.right {
					.sewage-heading {
						h3 {
							font-family: "Open Sans";
							font-size: 25px;
							font-weight: bold;
							line-height: 25px;
							color: $black;
							margin: 0 0 15px 0;
						}
					}

					.sewage-description {
						p {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $black;
							margin: 10px 0;
						}
					}

					hr {
						margin: 20px 0;
					}

					.sewage-links {
						p {
							margin: 0;
						}

						a {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $medium_blue;
							text-decoration: none;

							&:hover {
								color: $black;
							}
						}

						ul {
							padding: 0;
							margin: 0;

							li {
								padding: 0;
								margin: 15px 0;
								display: flex;
								flex-direction: row;

								&:before {
									content:'';
									display:inline-block;
									height: 13px;
									width: 13px;
									background-image:url('/wp-content/themes/wayne-county-health/assets/icons/General/file-download-solid.svg');
									background-size:contain;
									background-repeat:no-repeat;
									padding-left: 20px;
									margin-top: 4px;
								}

								a {
									font-family: "Open Sans";
									font-size: 12px;
									font-weight: normal;
									line-height: 17px;
									color: $medium_blue;
									text-decoration: none;

									&:hover {
										color: $black;
									}
								}
							}
						}
					}
				}
			}

			#public-swimming {
				.right {
					.ps-heading {
						h3 {
							font-family: "Open Sans";
							font-size: 25px;
							font-weight: bold;
							line-height: 25px;
							color: $black;
							margin: 0 0 15px 0;
						}
					}

					.ps-description {
						p {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $black;
							margin: 10px 0;
						}
					}

					hr {
						margin: 20px 0;
					}

					.ps-links {
						p {
							margin: 0;
						}

						a {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $medium_blue;
							text-decoration: none;

							&:hover {
								color: $black;
							}
						}

						ul {
							padding: 0;
							margin: 0;

							li {
								padding: 0;
								margin: 15px 0;
								display: flex;
								flex-direction: row;

								&:before {
									content:'';
									display:inline-block;
									height: 13px;
									width: 13px;
									background-image:url('/wp-content/themes/wayne-county-health/assets/icons/General/file-download-solid.svg');
									background-size:contain;
									background-repeat:no-repeat;
									padding-left: 20px;
									margin-top: 4px;
								}

								a {
									font-family: "Open Sans";
									font-size: 12px;
									font-weight: normal;
									line-height: 17px;
									color: $medium_blue;
									text-decoration: none;

									&:hover {
										color: $black;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}