@import "colors.scss";

.site-footer {
	padding: 10px 50px;
	display: block;
	height: auto;
	width: 100%;
	background-color: $tan;

	@media only screen and (max-width: 768px) {
		padding: 10px 20px;
	}

	.site-info {
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;

		.social-media {
			height: auto;
			width: 100%;
			padding: 20px;
			display: flex;
			flex-direction: row;
			justify-content: center;

			.youtube, .twitter, .facebook {
				width: 40px;
				height: 40px;

				a {
					img {
						opacity: .8;

						&:hover {
							opacity: 1;
						}
					}
				}
			}

			.twitter {
				margin: 0 15px;
			}
		}

		.locations {
			height: auto;
			width: 100%;
			border-top: 1px solid $white;
			border-bottom: 1px solid $white;
			display: flex;
			flex-direction: row;
			justify-content: center;

			.left {
				border-right: 1px solid $white;
			}

			.right {
				border-left: 1px solid $white;
			}

			.right, .left {
				padding: 20px;
				flex: 0 0 50%;

				.widget_text {
					h2 {
						font-size: 16px;
						line-height: 22px;
						font-weight: bold;
						color: $black;
					}

					.textwidget {
						font-family: "Open Sans";
						font-size: 15px;
						font-weight: normal;
						line-height: 25px;
						color: $black;

						a {
							&:hover {
								color: $black;
								font-weight: bold;
								cursor: pointer;
							}
						}
					}
				}
			}

			@media only screen and (max-width: 768px) {
				flex-direction: column;
				border-top: 1px solid $white;
				border-bottom: 1px solid $white;

				.left {
					border-right: none;
					border-bottom: 1px solid $white;
				}

				.right {
					border-left: none;
				}
			}
		}

		.copyright {
			height: auto;
			width: 100%;
			padding: 20px;

			a {
				color: $black;

				&:hover {
					color: $black;
					font-weight: bold;
				}
			}
		}
	}
}