@import "colors.scss";
@import "typography.scss";

.page, .post, .site {
	padding: 0;
	margin: 0 auto;
	width: 100%;

	@media only screen and (max-width: 768px) {
		margin-top: 50px;
	}

	.site-content {
		min-height: 500px;
		width: 100%;
		margin: 0;
		padding: 0;

		.content-area main {
			.hero-image {
				width: 100%;
				height: auto;
				display: block;
				padding: 0;
				margin: 0;
				position: relative;
			}

			.information-wrapper {
				width: 100%;
				margin: 10px 0;
				padding: 0 40px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.wprm-wrapper {
	#mg-wprm-wrap {
		#wprmenu_menu_ul {
			.search-inputs {
				.search-form {
					display: flex;
					flex-direction: row;
					padding: 0 20px;
					align-items: center;

					label {
						width: 90%;

						input#s {
							width: 95%;
						}
					}

					button.search-submit {
						display: block;
						width: 36px;
						height: 36px;
						padding: 5px;
						-webkit-appearance: none;
						background: none;
						border: none;

						img {
							opacity: .5;
						}
					}
				}
			}
		}
	}
}