@import "colors.scss";

#masthead {
	padding: 20px 40px;
	display: flex;
	height: 110px;
	width: 100%;

	@media only screen and (max-width: 768px) {
		display: none;
	}

	.site-branding {
		width: 250px;
		min-width: 180px;
		height: auto;
		display: block;

		@media only screen and (max-width: 945px) {
			width: 225px;
		}

		.site-title, .site-description {
			display: none;
		}
	}

	.nav-search {
		flex: 1;
		height: 100%;
		display: flex;
		flex-direction: row;
		margin-left: 15px;
		align-items: center;
		justify-content: flex-end;

		.main-navigation {
			width: 100%;
			height: 100%;

			&.show {
				display: block;
			}

			&.hide {
				display: none;
			}

			ul.menu {
				display: flex;
				flex-direction: row;
				list-style: none;
				margin: 15px 0;
				padding: 0;
				justify-content: flex-end;

				li.menu-item {
					height: auto;
					width: auto;
					padding: 10px;
					margin: 0 5px;
					position: relative;
					float: left;

					@media only screen and (max-width: 945px) {
						padding: 10px 7px;
					}

					@media only screen and (max-width: 850px) {
						padding: 5px 5px;
					}

					a {
						display: block;
						text-decoration: none;
						font-family: "Open Sans";
						font-size: 13px;
						font-weight: 600;
						line-height: 18px;
						color: $black;
						text-transform: uppercase;

						@media only screen and (max-width: 945px) {
							font-size: 12px;
						}

						@media only screen and (max-width: 850px) {
							font-size: 11px;
						}

						&:hover,
						&:focus,
						&:active {
							color: $light_blue;
						}
					}

					&.current-menu-item {
						a {
							color: $light_blue;
						}
					}

					> ul.sub-menu {
						display: none;
					}

					&:hover {
						> ul.sub-menu {
							display: block;
							left: 5px;
							height: auto;
							width: 200px;
							background-color: $white;
							position: absolute;
							float: left;
							margin: 0;
							padding: 5px 0 0 0;
							list-style-type: none;
							z-index: 9999;

							li {
								padding: 8px;

								a {
									display: block;
									text-decoration: none;
									font-family: "Open Sans";
									font-size: 13px;
									font-weight: 600;
									line-height: 18px;
									color: $black;
									text-transform: uppercase;

									@media only screen and (max-width: 945px) {
										font-size: 12px;
									}

									&:hover {
										text-decoration: underline;
									}
								}

								&:last-of-type {
									margin-bottom: 10px;
								}
							}
						}
					}

					&.menu-item-has-children[aria-expanded="true"] {
						> ul {
							left: 5px;
						}
					}
				}

				li.menu-item-has-children > a:after {
					color: $grey;
					font-family: "Font Awesome 5 Free";
					font-size: 18px;
					font-weight: 900;
					content: "";
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					text-decoration: none;
					margin-left: 8px;
					top: 3px;
					position: relative;
				}

				li li.menu-item-has-children > a:after {
					color: $grey;
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					content: "";
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					text-decoration: none;
					margin-left: 8px;
				}
			}

			ul ul {
				box-shadow: none;
			}
		}

		.masthead-search {
			display: block;

			&.full {
				width: 100%;
			}

			.search-icon-button {
				display: block;
				width: 36px;
				height: 36px;
				padding: 5px;
				-webkit-appearance: none;
				background: none;
				border: none;

				&.show {
					display: block;
				}

				&.hide {
					display: none;
				}

				svg {
					fill: $black;
				}
			}

			.search-inputs {
				width: 100%;

				&.hide {
					display: none;
				}

				&.show {
					display: block;
				}

				form {
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					width: 100%;

					label.search-field {
						width: 95%;
						text-align: right;

						input#s {
							width: 95%;
							border-radius: 15px;
							padding: 4px 15px;
						}
					}

					button.search-submit {
						display: block;
						width: 36px;
						height: 36px;
						padding: 5px;
						-webkit-appearance: none;
						background: none;
						border: none;

						img {
							opacity: .5;
						}
					}
				}
			}
		}
	}
}