@import "colors.scss";

.site-content {
	#health.content-area main {
		.hero-image {
			.health-hero-widget.widget {
				position: relative;
				margin: 0;

				img {
					width: 100%;
					height: auto;
				}
			}

			.overlay-text {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 2000;
				height: auto;
				width: 100%;
				transform: translate(-50%, -50%);
				display: flex;
				flex-direction: column;
				align-items: center;

				p.top-text {
					color: $white;
					font-family: "Open Sans";
					font-size: 70px;
					font-weight: bold;
					line-height: 70px;
					text-align: center;
					margin: 10px;
					padding: 0;
				}

				p.bottom-text {
					color: $white;
					font-family: "Open Sans";
					font-size: 85px;
					font-weight: 900;
					line-height: 85px;
					text-align: center;
					margin: 10px;
					padding: 0;
				}

				.arrow {
					width: 95px;
					height: auto;
					display: block;
					margin-top: 25px;
				}

				@media only screen and (max-width: 680px) {
					p.top-text {
						font-size: 50px;
						line-height: 50px;
					}

					p.bottom-text {
						font-size: 65px;
						line-height: 65px;
					}

					.fa-chevron-down {
						font-size: 65px;
					}
				}

				@media only screen and (max-width: 500px) {
					p.top-text {
						font-size: 40px;
						line-height: 40px;
					}

					p.bottom-text {
						font-size: 55px;
						line-height: 55px;
					}

					.fa-chevron-down {
						font-size: 55px;
					}
				}
			}

			.hero-text-overlay {
				position: absolute;
				top: 49.5%;
				left: 50%;
				z-index: 1000;
				height: 99.5%;
				width: 100%;
				transform: translate(-50%, -50%);
				background-color: $light_blue;
				opacity: .8;
			}
		}

		.health-information-nav {
			padding: 20px 40px;
			width: 100%;
			height: auto;
			text-align: center;

			h2 {
				font-size: 25px;
				font-weight: bold;
				line-height: 34px;
				color: $black;
			}

			ul.health-category-nav {
				padding: 0;
				margin: 0 auto;
				list-style-type: none;
				width: 830px;
				height: auto;
				display: flex;
				flex-direction: row;
				justify-content: center;
				flex-wrap: wrap;

				@media only screen and (max-width: 830px) {
					width: 100%;
				}

				li {
					padding: 0;
					margin: 15px 10px 10px 10px;
					list-style-type: none;
					height: auto;
					width: 100px;

					a {
						height: 100%;
						width: 100%;
						display: block;

						img {
							width: 65px;
							height: auto;
							display: block;
							margin: 0 auto;

							&:hover {
								background: $lightening_blue;
								border-radius: 100%;
							}
						}

						.title {
							margin-top: 10px;

							p {
								font-family: "Open Sans";
								font-size: 12px;
								line-height: 17px;
								color: $black;
								margin: 0;
							}
						}
					}
				}
			}

			@media only screen and (max-width: 768px) {
				padding: 10px 20px;
			}
		}

		.new-patients-info {
			width: 100%;
			height: 200px;
			margin: 0;
			padding: 35px 0;
			background-image: url("/wp-content/themes/wayne-county-health/assets/images/1X_shutterstock_1111638668.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.heading {
				text-align: center;

				h3 {
					font-family: "Open Sans";
					font-size: 20px;
					font-weight: bold;
					line-height: 25px;
					color: $black;
					margin: 0 0 5px 0;
				}
			}

			.description {
				text-align: center;
				margin: 0 0 20px 0;

				p {
					font-family: "Open Sans";
					font-size: 15px;
					font-weight: normal;
					line-height: 25px;
					color: $grey;
					margin: 10px 0;
				}
			}

			a {
				height: 37px;
				width: 98px;
				border-radius: 23px;
				background-color: $light_blue;
				padding: 5px 0 8px 0;
				color: $white;
				font-family: "Open Sans";
				font-size: 15px;
				font-weight: 600;
				line-height: 20px;
				text-align: center;
				margin: 0;
				text-decoration: none;

				&:hover {
					background-color: $dark_blue;
				}
			}
		}

		.health-content-wrapper {
			padding: 10px 40px;
			width: 100%;
			height: auto;
			text-align: center;
			max-width: 940px;
			margin: 0 auto;

			#adult-services.content-box {
				border-top: none;
			}

			.content-box {
				width: 100%;
				height: auto;
				border-top: 1px solid $tan;
				padding: 30px 0;
				display: flex;
				justify-content: flex-start;
				flex-direction: row;

				.left {
					display: block;
					width: 150px;
					height: auto;
					margin: 10px 80px 10px 10px;
				}

				.right {
					flex: 1;
					padding: 10px;
					text-align: left;

					.heading {
						p {
							font-family: "Open Sans";
							font-size: 25px;
							font-weight: bold;
							line-height: 25px;
							color: $black;
							margin: 0 0 15px 0;
						}
					}

					.description {
						p {
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: normal;
							line-height: 17px;
							color: $black;
							margin: 10px 0;
						}
					}

					p {
						font-family: "Open Sans";
						font-size: 12px;
						font-weight: normal;
						line-height: 17px;
						color: $black;
						margin: 10px 0;
					}
				}

				@media only screen and (max-width: 768px) {
					flex-direction: column;
					align-items: center;

					.left {
						margin: 10px;
					}

					.right {
						flex: 1;
						padding: 10px;
						text-align: center;
					}
				}
			}
		}
	}
}