@import "colors.scss";

.home {
	.site {
		.site-content {
			.content-area main {
				.hero-image {
					.home-hero.widget {
						position: relative;
						margin: 0;

						.wp-video .mejs-container .mejs-inner .mejs-controls {
							display: none;
						}
					}

					.hero-text-overlay {
						position: absolute;
						top: 50%;
						left: 50%;
						z-index: 1000;
						height: auto;
						width: 100%;
						transform: translate(-50%, -50%);
						display: flex;
						flex-direction: column;
						align-items: center;

						p.top-text {
							color: $white;
							font-family: "Open Sans";
							font-size: 70px;
							font-weight: bold;
							line-height: 70px;
							text-align: center;
							margin: 10px;
							padding: 0;
						}

						p.bottom-text {
							color: $white;
							font-family: "Open Sans";
							font-size: 85px;
							font-weight: 900;
							line-height: 85px;
							text-align: center;
							margin: 10px;
							padding: 0;
						}

						.arrow {
							width: 95px;
							height: auto;
							display: block;
							margin-top: 25px;
						}

						@media only screen and (max-width: 680px) {
							p.top-text {
								font-size: 50px;
								line-height: 50px;
							}

							p.bottom-text {
								font-size: 65px;
								line-height: 65px;
							}

							.fa-chevron-down {
								font-size: 65px;
							}
						}

						@media only screen and (max-width: 500px) {
							p.top-text {
								font-size: 40px;
								line-height: 40px;
							}

							p.bottom-text {
								font-size: 55px;
								line-height: 55px;
							}

							.fa-chevron-down {
								font-size: 55px;
							}
						}
					}
				}

				.home-information-nav {
					padding: 10px 40px;

					@media only screen and (max-width: 768px) {
						padding: 10px 20px;
					}

					.home-info-text {
						.textwidget {
							display: block;
							width: 75%;
							text-align: center;
							margin: 20px auto 0 auto;
							font-size: 15px;
						}

						@media only screen and (max-width: 768px) {
							.textwidget {
								width: 100%;
							}
						}
					}

					.home-info-nav {
						.menu-home-information-nav-container {
							display: block;
							width: 75%;
							margin: 20px auto 0 auto;

							@media only screen and (max-width: 768px) {
								width: 100%;
							}

							.menu {
								padding: 0;
								margin: 0;
								list-style-type: none;
								display: flex;
								justify-content: center;
								flex-direction: row;

								@media only screen and (max-width: 768px) {
									width: 100%;
									flex-direction: column;
								}

								li {
									height: auto;
									width: auto;
									padding: 10px;
									margin: 0 5px;

									a {
										display: block;
										text-decoration: none;
										font-family: "Open Sans";
										font-size: 15px;
										font-weight: bold;
										line-height: 25px;
										text-align: center;
										color: $medium_blue;

										&:hover,
										&:focus,
										&:active {
											color: $light_blue;
										}
									}
								}
							}
						}
					}
				}

				.home-news-posts {
					padding: 10px 40px;

					@media only screen and (max-width: 768px) {
						padding: 10px 20px;
					}

					.home-news-posts-title-container {
						display: flex;
						justify-content: center;
						flex-direction: row;
						align-items: center;

						hr {
							background-color: $tan;
							border: 0;
							height: 2px;
							margin-bottom: 0;
							margin: 0;
							width: 100%;
						}

						.title {
							width: 250px;
							display: block;
							height: 25px;
							text-align: center;

							p {
								font-family: "Open Sans";
								font-size: 20px;
								font-weight: bold;
								line-height: 25px;
								color: $grey;
								margin: 0;
								padding: 0;
							}
						}
					}

					.news-items-wrapper {
						.news-item {
							display: flex;
							flex-direction: row;
							justify-content: center;
							padding: 20px 40px;
							position: relative;

							li {
								display: flex;
								flex-direction: column;
								height: auto;
								width: 240px;
								margin: 0 20px;
								position: relative;

								.image {
									position: relative;
									width: 100%;
									height: 215px;
									overflow: hidden;

									img {
										position: absolute;
										max-width: 100%;
										max-height: 100%;
										width: 100%;
										height: 100%;
										top: 50%;
										left: 50%;
										transform: translate( -50%, -50%);
										object-fit: cover;
									}
								}

								.categories {
									margin: 15px 0 5px 0;

									&.Health {
										a {
											font-family: "Open Sans";
											font-size: 14px;
											font-weight: 300;
											line-height: 19px;
											text-transform: uppercase;
											text-decoration: none;
											color: $medium_blue;
										}
									}

									&.Environment {
										a {
											font-family: "Open Sans";
											font-size: 14px;
											font-weight: 300;
											line-height: 19px;
											text-transform: uppercase;
											text-decoration: none;
											color: $brown;
										}
									}
								}

								h2 {
									margin: 5px 0 15px 0;

									a {
										font-family: "Open Sans";
										font-size: 21px;
										line-height: 28px;
										font-weight: bold;
										color: $black;

										&:hover {
											color: $black;
											text-decoration: none;
										}
									}
								}

								p {
									margin: 0;
									padding: 0;

									a {
										font-family: "Open Sans";
										font-size: 14px;
										line-height: 19px;
										font-weight: normal;
										color: $black;

										&:hover {
											color: $black;
											text-decoration: none;
										}
									}
								}
							}

							@media only screen and (max-width: 768px) {
								flex-direction: column;
								margin: 0;
								padding: 0;

								li {
									width: 100%;
									margin: 20px 0;
									flex-direction: row;

									.image {
										height: 150px;
										width: 150px;
										margin-right: 20px;

										@media only screen and (max-width: 636px) {
											height: 100px;
											width: 100px;
										}
									}

									.new-item-content-wrapper {
										flex: 1;
									}

									.categories {
										margin: 0 0 5px 0;

										a {
											font-size: 13px;
											line-height: 18px;
										}
									}

									h2 {
										font-size: 18px;
										line-height: 26px;
										margin: 5px 0 10px 0;
									}

									p {
										font-size: 13px;
										line-height: 18px;
									}
								}
							}
						}
					}

					article header {
						display: none;
					}
				}
			}
		}
	}
}