@import "colors.scss";

.site-content {
	#new-patients.content-area main {
		.hero-image {
			.new-patients-hero-widget.widget {
				position: relative;
				margin: 0;

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.information-wrapper {
			.new-patients-info {
				width: 100%;
				height: auto;

				.heading {
					text-align: center;

					h3 {
						font-family: "Open Sans";
						font-size: 20px;
						font-weight: bold;
						line-height: 25px;
						color: $black;
						margin: 0 0 5px 0;
					}
				}

				.description {
					text-align: center;
					margin: 0 0 20px 0;

					p {
						font-family: "Open Sans";
						font-size: 15px;
						font-weight: normal;
						line-height: 25px;
						color: $grey;
						margin: 10px 0;
					}
				}
			}

			.new-patients-requirements {
				width: 100%;
				padding: 10px 40px;

				@media only screen and (max-width: 768px) {
					padding: 10px 20px;
				}

				.new-patients-requirements-wrapper {
					display: flex;
					justify-content: center;
					flex-direction: row;
					align-items: center;

					hr {
						background-color: $tan;
						border: 0;
						height: 2px;
						margin-bottom: 0;
						margin: 0;
						width: 100%;
					}

					.title {
						width: auto;
						display: block;
						height: 25px;
						text-align: center;
						padding: 0 15px;

						p {
							font-family: "Open Sans";
							font-size: 20px;
							font-weight: bold;
							line-height: 25px;
							color: $grey;
							margin: 0;
							padding: 0;
						}
					}
				}

				.new-patients-requirement-details {
					display: flex;
					width: 100%;
					height: auto;
					max-width: 800px;
					justify-content: center;
					flex-direction: column;
					align-items: center;
					margin: 10px auto;

					ul {
						padding: 0;
						margin: 0;
						list-style-type: none;

						li {
							padding: 0;
							margin: 15px 0;
							list-style-type: none;
							display: flex;
							flex-direction: row;

							@media only screen and (max-width: 768px) {
								margin: 20px 0;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								text-align: center;
							}

							span {
								width: 40px;
								height: 40px;
								display: block;
								border-radius: 100%;
								background-color: #C2C1C0;
								margin-right: 25px;

								@media only screen and (max-width: 768px) {
									margin-right: 0;
									margin-bottom: 10px;
								}

								p {
									font-family: "Open Sans";
									font-size: 20px;
									font-weight: normal;
									line-height: 27px;
									color: $white;
									margin: 0;
									padding: 6px 3px 6px 0;
									text-align: center;
									font-style: italic;
								}
							}

							div {
								flex: 1;
							}

							p {
								font-family: "Open Sans";
								font-size: 15px;
								font-weight: normal;
								line-height: 25px;
								color: $black;
								margin: 0;
								padding: 0;
							}
						}
					}
				}
			}

			.new-patients-forms {
				width: 100%;
				padding: 10px 40px;

				@media only screen and (max-width: 768px) {
					padding: 10px 20px;
				}

				.new-patients-forms-wrapper {
					display: flex;
					justify-content: center;
					flex-direction: row;
					align-items: center;

					hr {
						background-color: $tan;
						border: 0;
						height: 2px;
						margin-bottom: 0;
						margin: 0;
						width: 100%;
					}

					.title {
						width: auto;
						display: block;
						height: 25px;
						text-align: center;
						padding: 0 15px;

						p {
							font-family: "Open Sans";
							font-size: 20px;
							font-weight: bold;
							line-height: 25px;
							color: $grey;
							margin: 0;
							padding: 0;
						}
					}
				}

				.new-patients-forms-details {
					display: flex;
					width: 100%;
					height: auto;
					justify-content: center;
					flex-direction: column;
					align-items: center;
					margin: 20px 0;

					.grid-container {
						display: grid;
						grid-template-columns: repeat(3, 1fr);
						grid-gap: 30px;

						@media only screen and (max-width: 768px) {
							grid-template-columns: repeat(1, 1fr);
							grid-gap: 10px;
						}

						.grid-item {
							padding: 10px;
							text-align: left;

							@media only screen and (max-width: 768px) {
								text-align: center;
							}

							h3 {
								font-family: "Open Sans";
								font-size: 16px;
								font-weight: 600;
								line-height: 22px;
								color: $black;
								margin: 10px 0;
							}

							p {
								margin: 5px 0;
							}

							a {
								font-family: "Open Sans";
								font-size: 16px;
								font-weight: 600;
								line-height: 22px;
								color: $medium_blue;
								text-decoration: none;

								&:hover {
									color: $black;
								}

								&:before {
									content:'';
									display:inline-block;
									height: 13px;
									width: 13px;
									background-image:url('/wp-content/themes/wayne-county-health/assets/icons/General/file-download-solid.svg');
									background-size:contain;
									background-repeat:no-repeat;
									padding-left: 20px;
									margin-top: 4px;
								}
							}
						}
					}
				}
			}
		}
	}
}