@import "colors.scss";

.site-content {
	#news-listings.content-area main {
		.hero-image {
			.news-listings-hero-widget.widget {
				position: relative;
				margin: 0;

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.news-listings-information-wrapper {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			padding: 10px 40px 20px 40px;

			@media only screen and (max-width: 768px) {
				padding: 10px 20px;
			}

			.news-listings-wrapper {
				width: 100%;
				padding: 10px 0;

				.title {
					width: auto;
					display: block;
					height: auto;
					text-align: center;
					padding: 0 15px;

					p {
						font-family: "Open Sans";
						font-size: 25px;
						font-weight: bold;
						line-height: 34px;
						color: $grey;
						margin: 0;
						padding: 0;
					}
				}
			}

			.most-recent-news-items-wrapper {
				width: 100%;
				padding: 0;
				margin: 20px 0;

				.news-item {
					display: block;
					padding: 0;
					margin: 0;
					position: relative;

					li {
						display: flex;
						flex-direction: row;
						align-items: center;
						height: auto;
						width: 100%;
						margin: 0 auto;
						position: relative;
						max-width: 800px;

						@media only screen and (max-width: 768px) {
							flex-direction: column;
						}

						.image {
							position: relative;
							width: 60%;
							height: 340px;
							overflow: hidden;

							@media only screen and (max-width: 768px) {
								width: 100%;
								height: 250px;
							}

							img {
								position: absolute;
								max-width: 100%;
								max-height: 100%;
								width: 100%;
								height: 100%;
								top: 50%;
								left: 50%;
								transform: translate( -50%, -50%);
								object-fit: cover;
							}
						}

						.new-item-content-wrapper {
							width: 40%;
							height: 340px;
							padding: 40px;
							background-color: #eee;

							@media only screen and (max-width: 768px) {
								width: 100%;
								height: auto;
								padding: 20px;
							}
						}

						.categories {
							margin: 15px 0 5px 0;

							@media only screen and (max-width: 768px) {
								margin: 0 0 5px 0;
							}

							&.Health {
								a {
									font-family: "Open Sans";
									font-size: 14px;
									font-weight: 300;
									line-height: 19px;
									text-transform: uppercase;
									text-decoration: none;
									color: $medium_blue;
								}
							}

							&.Environment {
								a {
									font-family: "Open Sans";
									font-size: 14px;
									font-weight: 300;
									line-height: 19px;
									text-transform: uppercase;
									text-decoration: none;
									color: $brown;
								}
							}
						}

						h2 {
							margin: 5px 0 15px 0;

							a {
								font-family: "Open Sans";
								font-size: 21px;
								line-height: 28px;
								font-weight: bold;
								color: $black;

								&:hover {
									color: $black;
									text-decoration: none;
								}
							}
						}

						p {
							margin: 0;
							padding: 0;

							a {
								font-family: "Open Sans";
								font-size: 14px;
								line-height: 19px;
								font-weight: normal;
								color: $black;

								&:hover {
									color: $black;
									text-decoration: none;
								}
							}
						}
					}
				}
			}

			.news-listings-slider {
				width: 800px;
				padding: 0;
				margin: 20px 0;

				@media only screen and (max-width: 768px) {
					width: 90%;
					margin: 5px 0 35px 0;
				}

				.news-items {
					.slick-prev {
						width: 40px;
						height: 97px;
						left: -40px;
						top: 30%;

						&:before {
							content:'';
							display:inline-block;
							height: 97px;
							width: 40px;
							background-image:url('/wp-content/themes/wayne-county-health/assets/icons/General/GrayArrow.svg');
							background-size:contain;
							background-repeat:no-repeat;
							padding-left: 20px;
							margin-top: 4px;
							transform: rotate(180deg);
						}
					}

					.slick-next {
						width: 40px;
						height: 97px;
						right: -45px;
						top: 30%;

						&:before {
							content:'';
							display:inline-block;
							height: 97px;
							width: 40px;
							background-image:url('/wp-content/themes/wayne-county-health/assets/icons/General/GrayArrow.svg');
							background-size:contain;
							background-repeat:no-repeat;
							padding-left: 20px;
							margin-top: 4px;
						}
					}

					.item-container {
						display: flex;
						flex-direction: column;
						height: auto;
						width: 240px;
						margin: 0 20px;
						position: relative;

						.image {
							position: relative;
							width: 100%;
							height: 215px;
							overflow: hidden;

							img {
								position: absolute;
								max-width: 100%;
								max-height: 100%;
								width: 100%;
								height: 100%;
								top: 50%;
								left: 50%;
								transform: translate( -50%, -50%);
								object-fit: cover;
							}
						}

						.categories {
							margin: 15px 0 5px 0;

							&.Health {
								a {
									font-family: "Open Sans";
									font-size: 14px;
									font-weight: 300;
									line-height: 19px;
									text-transform: uppercase;
									text-decoration: none;
									color: $medium_blue;
								}
							}

							&.Environment {
								a {
									font-family: "Open Sans";
									font-size: 14px;
									font-weight: 300;
									line-height: 19px;
									text-transform: uppercase;
									text-decoration: none;
									color: $brown;
								}
							}
						}

						h2 {
							margin: 5px 0 15px 0;

							a {
								font-family: "Open Sans";
								font-size: 21px;
								line-height: 28px;
								font-weight: bold;
								color: $black;

								&:hover {
									color: $black;
									text-decoration: none;
								}
							}
						}

						p {
							margin: 0;
							padding: 0;

							a {
								font-family: "Open Sans";
								font-size: 14px;
								line-height: 19px;
								font-weight: normal;
								color: $black;

								&:hover {
									color: $black;
									text-decoration: none;
								}
							}
						}
					}

					@media only screen and (max-width: 768px) {
						flex-direction: column;
						margin: 0;
						padding: 0;

						.item-container {
							width: 100%;
							margin: 20px 0;
							flex-direction: row;

							.image {
								height: 150px;
								width: 150px;
								margin-right: 20px;

								@media only screen and (max-width: 636px) {
									height: 100px;
									width: 100px;
								}
							}

							.new-item-content-wrapper {
								flex: 1;
							}

							.categories {
								margin: 0 0 5px 0;

								a {
									font-size: 13px;
									line-height: 18px;
								}
							}

							h2 {
								font-size: 18px;
								line-height: 26px;
								margin: 5px 0 10px 0;
							}

							p {
								font-size: 13px;
								line-height: 18px;
							}
						}
					}
				}
			}
		}
	}

	#news-post-primary.content-area main {
		article {
			.post-thumbnail {
				position: relative;
				margin: 0;
				height: 450px;
				overflow: hidden;

				img {
					position: absolute;
					max-width: 100%;
					max-height: 100%;
					width: 100%;
					height: 100%;
					top: 50%;
					left: 50%;
					transform: translate( -50%, -50%);
					object-fit: cover;
				}
			}

			.entry-header {
				width: 100%;
				display: flex;
				justify-content: center;
				flex-direction: column;
				padding: 10px 40px 0px 40px;
				max-width: 800px;
				margin: 20px auto 0px auto;

				@media only screen and (max-width: 768px) {
					padding: 10px 20px 0px 20px;
				}

				.categories {
					margin: 0;

					&.Health {
						a {
							font-family: "Open Sans";
							font-size: 14px;
							font-weight: 300;
							line-height: 19px;
							text-transform: uppercase;
							text-decoration: none;
							color: $medium_blue;
						}
					}

					&.Environment {
						a {
							font-family: "Open Sans";
							font-size: 14px;
							font-weight: 300;
							line-height: 19px;
							text-transform: uppercase;
							text-decoration: none;
							color: $brown;
						}
					}
				}

				h1 {
					margin: 5px 0 15px 0;
					font-family: "Open Sans";
					font-size: 21px;
					line-height: 28px;
					font-weight: bold;
					color: $black;
				}
			}

			.entry-content {
				width: 100%;
				display: block;
				padding: 0px 40px 20px 40px;
				max-width: 800px;
				margin: 0px auto 20px auto;

				@media only screen and (max-width: 768px) {
					padding: 0px 20px 10px 20px;
				}

				p {
					font-family: "Open Sans";
					font-size: 15px;
					font-weight: normal;
					line-height: 25px;
					color: $black;
					margin: 0;
					padding: 0;
				}
			}
		}

		.navigation.post-navigation {
			max-width: 800px;
			display: flex;
			justify-content: center;
			width: 100%;
			flex-direction: row;
			margin: 20px auto;

			@media only screen and (max-width: 768px) {
				padding: 0 20px;
			}

			.nav-links {
				width: 100%;

				div a {
					font-family: "Open Sans";
					font-size: 16px;
					font-weight: 600;
					line-height: 22px;
					color: $medium_blue;
					text-decoration: none;

					&:hover {
						color: $black;
					}
				}
			}
		}
	}
}