@import "colors.scss";

#search-results.content-area main {
	width: 100%;
	padding: 30px 40px;
	max-width: 1080px;
	margin: 0 auto;

	.site-content & {
		border-top: 9px solid $tan;
	}

	@media only screen and (max-width: 768px) {
		padding: 10px 20px;
	}

	.page-header {
		.heading {
			text-align: center;
			font-family: "Open Sans";
			font-size: 25px;
			font-weight: bold;
			line-height: 34px;
			color: $black;
			margin: 0 0 5px 0;

			span {
				color: $light_blue;
				text-transform: capitalize;
			}
		}

		p {
			font-family: "Open Sans";
			font-size: 15px;
			font-weight: bold;
			line-height: 25px;
			text-align: center;
			color: $black;
			margin: 10px 0;
		}

		form#search-page-form {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			width: 100%;

			div {
				width: 100%;
				display: flex;
				flex-direction: row;

				input {
					width: 100%;
					height: 31px;
					border: 1px solid #CACACA;
					border-radius: 12px;
					padding: 3px 15px;
					margin: 10px 0 0 30px;
				};
			}

			button.search-submit {
				display: block;
				width: 36px;
				height: 32px;
				padding: 5px;
				-webkit-appearance: none;
				background: none;
				border: none;
				position: relative;
				right: 40px;
				top: 9px;

				img {
					opacity: .5;
				}
			}
		}
	}

	article {
		padding: 20px 30px;
		border-bottom: 1px solid $tan;
		display: flex;
		flex-direction: row;

		@media only screen and (max-width: 768px) {
			flex-direction: column;
			align-items: center;
			padding: 10px 20px;
			margin-top: 10px;
		}

		.thumbnail,
		a.post-thumbnail {
			display: block;
			width: 90px;
			height: 90px;
			position: relative;
			overflow: hidden;
			border-radius: 100%;

			img {
				position: absolute;
				max-width: 100%;
				max-height: 100%;
				width: 100%;
				height: 100%;
				top: 50%;
				left: 50%;
				transform: translate( -50%, -50%);
				object-fit: cover;
			}
		}

		.entry-header {
			display: flex;
			flex-direction: column;
			flex: 1;
			height: auto;
			margin-left: 30px;

			@media only screen and (max-width: 768px) {
				width: 100%;
				margin-left: 0;
				text-align: center;
			}

			h2.entry-title {
				margin: 0;
				padding: 0;

				a {
					color: $black;
					font-family: "Open Sans";
					font-size: 15px;
					font-weight: bold;
					line-height: 25px;
					margin: 0;
					padding: 0;
				}
			}

			.entry-summary {
				margin: 0;

				p {
					font-family: "Open Sans";
					font-size: 12px;
					line-height: 17px;
					color: $black;
					margin: 5px 0 10px 0;
				}
			}

			.moretag {
				font-family: "Open Sans";
				font-size: 13px;
				font-weight: 600;
				line-height: 18px;
				text-transform: uppercase;
				color: $light_blue;
			}
		}
	}
}