@import "colors.scss";

h1 {
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: bold;
	line-height: 34px;
	color: $grey;
}

h2 {
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: $grey;
}

h3 {
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: $grey;
}

p {
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: normal;
	line-height: 25px;
	color: $black;
}

a {
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: normal;
	line-height: 25px;
	color: $black;
	text-decoration: none;
}