h1{font-family:"Open Sans";font-size:25px;font-weight:bold;line-height:34px;color:#4a4a4a}h2{font-family:"Open Sans";font-size:20px;font-weight:bold;line-height:25px;color:#4a4a4a}h3{font-family:"Open Sans";font-size:20px;font-weight:bold;line-height:25px;color:#4a4a4a}p{font-family:"Open Sans";font-size:15px;font-weight:normal;line-height:25px;color:#000}a{font-family:"Open Sans";font-size:15px;font-weight:normal;line-height:25px;color:#000;text-decoration:none}
